/*
html{
  font-family:  Helvetica;
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  background-color: azure;

}
*/
html{
  font-family: Helvetica;
}

header{
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 30rem;

}
header h2{
  font-size: 18px;
  font-family: Helvetica;
  margin-top: 1.4rem;


}

.top-container{
  color: white;
  background-color: cadetblue;
  background-size: 960px;
  display: flex;
  flex-direction: row;
  margin: 1rem 2rem;
  justify-content: center;
  font-size: 1rem;


}
.top-container img{
  height: 1.5rem;
  margin: 1.3rem 1rem 1rem 2rem;
  flex-wrap: wrap;
}

.nav-main{
  display: flex;
  flex-direction: row;
  margin-left: 20rem;
  margin-right: 0rem;
  align-self: center;
  justify-content: flex-end;

}
a{
  color: white;
  justify-content: space-between;
  margin: 1rem 2rem;
  font-size: 1rem;
}
.banner{
  margin: 10rem 5rem 10rem 52rem;

}
.banner h1{
  background-color: white;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: flex;
  justify-content: flex-end;;
}

/*---middle section--*/

.middle{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;

}
.exams{
  height: 8rem;
  margin-right: 2rem;
}
.exams img{
  width: 3.5rem;
  padding-left: 2rem;
  padding-bottom: 1.2rem;

}
.exams p{
  width: 5rem;
  padding-right: 3rem;

}
.fitting{
  height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.fitting img {
  width: 5rem;
  padding-bottom: 2.9rem;
  padding-right: 3rem;
  padding-left: 3rem;
}
.fitting p{
  width: 5rem;
  padding-right: 3.5rem;
  padding-left: 3.5rem;

}
.delivery{
  height: 8rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.delivery img{
  width: 5rem;
  padding-bottom: 2.4rem;
  padding-left: 3rem;
}
.delivery p{
  width: 5rem;
  padding-left: 3.5rem;
}


/*---bottom--*/
.bottom-container {
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;

}
.philosophy{
  width: 35%;
  margin-right: 2.5%;

}
.philosophy h2{
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  width: 10rem;
  color: white;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
}
.appointments{
  width: 35%;
  margin-left: 2.5%;
}
.appointments h2{
  font-weight: bold;
  font-size: 1rem;
  background-color: cadetblue;
  color: white;
  width: 10rem;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
}

.foot-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 9rem;
  margin-bottom: 4rem;
  margin-left: 18rem;
}
.foot-container img{
  height: 1.5rem;
  align-self: center;
  margin-right: 1rem;
}

/*---different platform---*/

@media only screen and (min-width: 1024px ){
  .nav-mobile{
    display: none;
  }
}

@media only screen and (max-width: 1024px ){

}
@media only screen and (max-width: 470px){
}
